
module logwatch_sendEmail 1.3;

require {
	type smtp_port_t;
	type logwatch_t;
	class tcp_socket name_connect;
}

#============= logwatch_t ==============

#!!!! This avc can be allowed using the boolean 'allow_ypbind'
allow logwatch_t smtp_port_t:tcp_socket name_connect;
